body {
  font-family: 'Roboto', sans-serif;
  background-color: #F8F8F8;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.header .content-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header .content-nav .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav .first {
    display: none;
  }
}

.header .content-nav .first .logo {
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
}

@media (min-width: 576px) and (max-width: 767px) {
  .header .content-nav .first .logo {
    margin-right: 5px;
  }
}

.header .content-nav .first .logo img {
  display: inherit;
  height: 40px;
}

.header .content-nav .first .name {
  font-size: 14px;
  color: #52525f !important;
}

@media (min-width: 576px) and (max-width: 767px) {
  .header .content-nav .first .name {
    font-size: 11px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav .second {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .content-nav .second ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: revert;
  margin-bottom: auto;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav .second ul {
    width: 100%;
    margin-top: auto;
  }
}

@media (min-width: 992px) {
  .header .content-nav .second ul li:not(:last-child) {
    margin-right: 20px;
  }
}

.header .content-nav .second ul li {
  cursor: pointer;
  position: relative;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav .second ul li {
    width: 20%;
  }
}

.header .content-nav .second ul li.active i, .header .content-nav .second ul li.active a, .header .content-nav .second ul li:hover i, .header .content-nav .second ul li:hover a {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  color: #FDAF29 !important;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav .second ul li.cart i {
    position: absolute;
    top: -35px;
    left: 50%;
    background: #FDAF29;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px 10px;
    border-radius: 50%;
    color: #fff !important;
    width: 50px;
    height: 50px;
    font-size: 16px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav .second ul li.cart a {
    bottom: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
  }
}

.header .content-nav .second ul li.cart span {
  position: absolute;
  top: -4px;
  background: #FDAF29;
  right: -7px;
  font-size: 10px;
  padding: 4px;
  border-radius: 50%;
  color: #fff;
  line-height: 1;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav .second ul li.cart span {
    left: 50%;
    right: auto;
    top: -27px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    z-index: 2;
  }
}

.header .content-nav .second ul i {
  font-size: 20px;
  color: #52525f !important;
}

.header .content-nav .second ul a {
  font-size: 14px;
  color: #52525f !important;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav .second ul a {
    padding: unset !important;
    margin-top: 5px;
  }
}

.main-header .lang-phone {
  direction: rtl;
}

.main-header .lang-phone .content .select .form-select {
  direction: ltr;
}

.main-header .header {
  direction: rtl;
}

.main-header .header .content-nav .first .logo {
  margin-left: 10px;
}

@media (min-width: 576px) and (max-width: 767px) {
  .main-header .header .content-nav .first .logo {
    margin-right: 0;
    margin-left: 5px;
  }
}

.main-header .header .content-nav .second ul {
  padding-right: 0;
}

.just-mobile {
  direction: rtl;
}

.just-mobile .content-mobile .select {
  direction: ltr;
}

.prosucts-kinds .center-products .product-box .product-title {
  direction: rtl;
}

.children-clothes {
  direction: rtl;
}

.children-clothes .children-box .disc {
  left: auto;
  right: 30px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .children-clothes .children-box .disc.xs-mobile {
    left: 30px;
    right: auto;
    color: #2A2A3B;
  }
}

.products-model {
  direction: rtl;
}

.products-model .model-container .type-box span {
  margin-right: 10px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .products-model .model-container .type-box span {
    margin-left: auto;
    text-align: right;
  }
}
/*# sourceMappingURL=home-rtl.css.map */