.person-profile .content-box .main-information .select-box .form-select, .person-profile .content-box .select-box-2 .form-select {
  background: transparent !important;
  border: none !important;
  color: #52525f;
  outline: none;
  cursor: pointer;
}

.person-profile .content-box .main-information .select-box .form-select option, .person-profile .content-box .select-box-2 .form-select option {
  color: #FDAF29;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F8F8F8;
}

.person-profile .content-box .main-information .select-box .form-select, .person-profile .content-box .select-box-2 .form-select {
  background: transparent !important;
  border: none !important;
  color: #52525f;
  outline: none;
  cursor: pointer;
}

.person-profile .content-box .main-information .select-box .form-select option, .person-profile .content-box .select-box-2 .form-select option {
  color: #FDAF29;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.header .content-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header .content-nav .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav .first {
    display: none;
  }
}

.header .content-nav .first .logo {
  border: 1px solid #ccc;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
}

.header .content-nav .first .logo img {
  display: inherit;
  height: 40px;
}

.header .content-nav .first .name {
  font-size: 14px;
  color: #52525f !important;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav .second {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .content-nav .second ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: revert;
  margin-bottom: auto;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav .second ul {
    width: 100%;
    margin-top: auto;
  }
}

@media (min-width: 992px) {
  .header .content-nav .second ul li:not(:last-child) {
    margin-right: 20px;
  }
}

.header .content-nav .second ul li {
  cursor: pointer;
  position: relative;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav .second ul li {
    width: 20%;
  }
}

.header .content-nav .second ul li.active i, .header .content-nav .second ul li.active a, .header .content-nav .second ul li:hover i, .header .content-nav .second ul li:hover a {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  color: #FDAF29 !important;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav .second ul li.cart i {
    position: absolute;
    top: -35px;
    left: 50%;
    background: #FDAF29;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px 10px;
    border-radius: 50%;
    color: #fff !important;
    width: 50px;
    height: 50px;
    font-size: 16px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav .second ul li.cart a {
    bottom: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
  }
}

.header .content-nav .second ul li.cart span {
  position: absolute;
  top: -4px;
  background: #FDAF29;
  right: -7px;
  font-size: 10px;
  padding: 4px;
  border-radius: 50%;
  color: #fff;
  line-height: 1;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav .second ul li.cart span {
    left: 50%;
    right: auto;
    top: -27px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    z-index: 2;
  }
}

.header .content-nav .second ul i {
  font-size: 20px;
  color: #52525f !important;
}

.header .content-nav .second ul a {
  font-size: 14px;
  color: #52525f !important;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav .second ul a {
    padding: unset !important;
    margin-top: 5px;
  }
}

.person-profile {
  padding: 10px 0;
}

@media (min-width: 320px) and (max-width: 576px) {
  .person-profile {
    padding: 20px 0 0px;
  }
}

.person-profile .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.person-profile .content-box .main-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.person-profile .content-box .main-information .link img {
  height: 50px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .person-profile .content-box .main-information .link img {
    height: 30px;
  }
}

.person-profile .content-box .main-information .select-box {
  margin: 0 10px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .person-profile .content-box .main-information .select-box {
    margin: 0 5px;
    font-size: 13px;
  }
}

.person-profile .content-box .main-information .person-name {
  color: #52525f;
}

@media (min-width: 320px) and (max-width: 576px) {
  .person-profile .content-box .main-information .person-name {
    font-size: 13px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .person-profile .content-box .select-box-2 {
    font-size: 13px;
  }
}

.main-navbar {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  background-color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 40;
}

.main-navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-navbar ul li {
  color: #52525f;
  cursor: pointer;
}

.main-navbar ul li.active i, .main-navbar ul li.active a, .main-navbar ul li.active span, .main-navbar ul li:hover i, .main-navbar ul li:hover a, .main-navbar ul li:hover span {
  color: #FDAF29;
}

.main-navbar ul li.cart {
  position: relative;
}

.main-navbar ul li.cart:hover i {
  background-color: #FDAF29;
  color: #fff;
}

.main-navbar ul li.cart:hover span {
  color: #fff;
}

.main-navbar ul li.cart i {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -50%;
  background: #fff;
  padding: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 33px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.main-navbar ul li.cart a {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.main-navbar ul li.cart span {
  position: absolute;
  top: -50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 10px;
  line-height: 20px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .main-navbar ul li {
    width: 20%;
    font-size: 14px;
  }
}

.main-navbar ul li i {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #52525f;
}

.main-navbar ul li a {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #52525f;
  padding: 0;
  text-decoration: none;
  display: inherit;
}

.prosucts-kinds {
  padding-top: 30px;
}

.prosucts-kinds .center-products .product-box {
  position: relative;
}

.prosucts-kinds .center-products .product-box:hover::before {
  background-color: #FDAF29;
}

.prosucts-kinds .center-products .product-box:hover img {
  border: 1px solid #FDAF29;
}

.prosucts-kinds .center-products .product-box:hover h4 {
  color: #FDAF29;
}

.prosucts-kinds .center-products .product-box:hover h6 {
  color: #FDAF29;
}

.prosucts-kinds .center-products .product-box::before {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: absolute;
  content: '';
  height: 3px;
  width: 70%;
  bottom: 0;
  left: 15%;
}

.prosucts-kinds .center-products .product-box img {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 50%;
  margin: auto;
  border: 1px solid transparent;
}

@media (min-width: 576px) and (max-width: 767px) {
  .prosucts-kinds .center-products .product-box img {
    width: 50px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .prosucts-kinds .center-products .product-box img {
    width: 35px;
  }
}

.prosucts-kinds .center-products .product-box h4 {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #52525f;
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.5;
}

@media (min-width: 576px) and (max-width: 767px) {
  .prosucts-kinds .center-products .product-box h4 {
    font-size: 14px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .prosucts-kinds .center-products .product-box h4 {
    font-size: 13px;
  }
}

.prosucts-kinds .center-products .product-box h6 {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #52525f;
  font-size: 12px;
}

.gender-age-cards {
  padding-top: 30px;
  padding-bottom: 70px;
}

.gender-age-cards .card-box {
  margin-bottom: 25px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .gender-age-cards .card-box {
    width: 50%;
  }
}

.gender-age-cards .card-box .card-content {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.gender-age-cards .card-box .card-content .img {
  background-color: #fff;
  padding: 3px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.gender-age-cards .card-box .card-content .img img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.gender-age-cards .card-box .card-content .details {
  color: #52525f;
  font-size: 14px;
  margin-top: 10px;
  padding: 0 5px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .gender-age-cards .card-box .card-content .details {
    font-size: 9px;
  }
}

.gender-age-cards .card-box .card-content .details .details-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
}

.gender-age-cards .card-box .card-content .details .details-box span {
  color: #52525f;
}

.gender-age-cards .card-box .card-content .add-button {
  outline: none;
  border: none;
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #FDAF29;
  color: #fff;
}

@media (min-width: 320px) and (max-width: 576px) {
  .gender-age-cards .card-box .card-content .add-button {
    font-size: 11px;
  }
}
/*# sourceMappingURL=products.css.map */