.person-profile .content-box .main-information .select-box .form-select {
  background: transparent !important;
  border: none !important;
  color: #52525f;
  outline: none;
  cursor: pointer;
}

.person-profile .content-box .main-information .select-box .form-select option {
  color: #FDAF29;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F8F8F8;
}

.person-profile .content-box .main-information .select-box .form-select {
  background: transparent !important;
  border: none !important;
  color: #52525f;
  outline: none;
  cursor: pointer;
}

.person-profile .content-box .main-information .select-box .form-select option {
  color: #FDAF29;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.header .content-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header .content-nav .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav .first {
    display: none;
  }
}

.header .content-nav .first .logo {
  border: 1px solid #ccc;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
}

.header .content-nav .first .logo img {
  display: inherit;
  height: 40px;
}

.header .content-nav .first .name {
  font-size: 14px;
  color: #52525f !important;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav .second {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .content-nav .second ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: revert;
  margin-bottom: auto;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav .second ul {
    width: 100%;
    margin-top: auto;
  }
}

@media (min-width: 992px) {
  .header .content-nav .second ul li:not(:last-child) {
    margin-right: 20px;
  }
}

.header .content-nav .second ul li {
  cursor: pointer;
  position: relative;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav .second ul li {
    width: 20%;
  }
}

.header .content-nav .second ul li.active i, .header .content-nav .second ul li.active a, .header .content-nav .second ul li:hover i, .header .content-nav .second ul li:hover a {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  color: #FDAF29 !important;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav .second ul li.cart i {
    position: absolute;
    top: -35px;
    left: 50%;
    background: #FDAF29;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px 10px;
    border-radius: 50%;
    color: #fff !important;
    width: 50px;
    height: 50px;
    font-size: 16px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav .second ul li.cart a {
    bottom: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
  }
}

.header .content-nav .second ul li.cart span {
  position: absolute;
  top: -4px;
  background: #FDAF29;
  right: -7px;
  font-size: 10px;
  padding: 4px;
  border-radius: 50%;
  color: #fff;
  line-height: 1;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav .second ul li.cart span {
    left: 50%;
    right: auto;
    top: -27px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    z-index: 2;
  }
}

.header .content-nav .second ul i {
  font-size: 20px;
  color: #52525f !important;
}

.header .content-nav .second ul a {
  font-size: 14px;
  color: #52525f !important;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header .content-nav .second ul a {
    padding: unset !important;
    margin-top: 5px;
  }
}

.person-profile {
  padding: 10px 0;
}

@media (min-width: 320px) and (max-width: 576px) {
  .person-profile {
    padding: 20px 0 0px;
  }
}

.person-profile .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.person-profile .content-box .main-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.person-profile .content-box .main-information .link img {
  height: 50px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .person-profile .content-box .main-information .link img {
    height: 30px;
  }
}

.person-profile .content-box .main-information .select-box {
  margin: 0 10px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .person-profile .content-box .main-information .select-box {
    margin: 0 5px;
    font-size: 14px;
  }
}

.person-profile .content-box .main-information .person-name {
  color: #52525f;
}

@media (min-width: 320px) and (max-width: 576px) {
  .person-profile .content-box .main-information .person-name {
    font-size: 14px;
  }
}

.person-profile .content-box .cart-shop {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  position: relative;
  background: #FDAF29;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
}

@media (min-width: 320px) and (max-width: 576px) {
  .person-profile .content-box .cart-shop {
    width: 30px;
    height: 30px;
  }
}

.person-profile .content-box .cart-shop i {
  -webkit-transform: translatex(-50%);
  transform: translatex(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

@media (min-width: 320px) and (max-width: 576px) {
  .person-profile .content-box .cart-shop i {
    font-size: 12px;
  }
}

.person-profile .content-box .cart-shop span {
  -webkit-transform: translatex(-50%);
  transform: translatex(-50%);
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 17%;
  font-size: 12px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .person-profile .content-box .cart-shop span {
    top: 0%;
  }
}

.product-slider {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}

.product-slider .slider-photos {
  background-color: #fff;
  height: 260px !important;
  width: 100% !important;
}

@media (min-width: 320px) and (max-width: 576px) {
  .product-slider .slider-photos {
    height: 240px !important;
    width: 70% !important;
  }
}

.product-slider .slider-photos .slick-list {
  height: 260px !important;
}

@media (min-width: 320px) and (max-width: 576px) {
  .product-slider .slider-photos .slick-list {
    height: 240px !important;
  }
}

.product-slider .slider-photos .slick-list .slick-track {
  height: 260px !important;
}

@media (min-width: 320px) and (max-width: 576px) {
  .product-slider .slider-photos .slick-list .slick-track {
    height: 240px !important;
  }
}

.product-slider .slider-photos .slick-slide {
  height: 260px !important;
}

@media (min-width: 320px) and (max-width: 576px) {
  .product-slider .slider-photos .slick-slide {
    height: 240px !important;
  }
}

.product-slider .slider-photos .slick-slide .img-container {
  height: 260px !important;
  padding: 10px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .product-slider .slider-photos .slick-slide .img-container {
    height: 240px !important;
  }
}

.product-slider .slider-photos .slick-slide .img-container img {
  width: 100%;
  height: 100%;
}

.product-slider .slider-photos .slick-dots li button::before {
  content: '' !important;
}

.product-slider .slider-photos .slick-dots li:nth-child(1) button {
  background: #6E43FF !important;
}

.product-slider .slider-photos .slick-dots li:nth-child(2) button {
  background-color: #BD3B3B !important;
}

.product-slider .slider-photos .slick-dots li:nth-child(3) button {
  background-color: #F8C900 !important;
}

.product-slider .slider-photos .slick-dots li:nth-child(4) button {
  background-color: #7F9600 !important;
}

.product-slider .slider-photos .slick-dots li:nth-child(5) button {
  background-color: #3D3952 !important;
}

.product-slider .discription-box {
  height: 260px;
  font-size: 13px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .product-slider .discription-box {
    height: 240px;
    width: 30% !important;
    padding: 0 8px !important;
  }
}

.product-slider .discription-box .price {
  color: #52525f;
  width: 135px;
  padding: 5px;
  margin: auto;
}

@media (min-width: 320px) and (max-width: 576px) {
  .product-slider .discription-box .price {
    width: auto;
    padding: 5px;
    margin: 0px auto;
    font-size: 12px;
  }
}

.product-slider .discription-box .price.old-price {
  position: relative;
  opacity: .7;
}

.product-slider .discription-box .price.old-price::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #52525f;
}

.product-slider .discription-box .price.new-price {
  background-color: #fff;
}

.product-slider .discription-box .disc {
  color: #52525f;
  padding: 8px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .product-slider .discription-box .disc {
    padding: 5px;
    font-size: 11px;
    text-align: left !important;
  }
}

.product-slider .discription-box hr {
  margin: auto;
}

.product-slider .discription-box .one {
  padding-top: 6px;
  margin-left: 10px;
  width: 135px;
  margin: auto;
  text-align: left;
}

@media (min-width: 320px) and (max-width: 576px) {
  .product-slider .discription-box .one {
    padding-top: 7px;
    margin-left: auto;
    width: auto;
    margin: auto;
    font-size: 10px;
  }
}

.product-slider .discription-box .one h6 {
  color: #3B4FBD;
  margin-bottom: 3px;
  font-size: 13px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .product-slider .discription-box .one h6 {
    margin-bottom: auto;
    font-size: 11px;
  }
}

.product-slider .discription-box .one span {
  color: #52525f;
  font-size: 10px;
}

.jeans-sizes {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .jeans-sizes {
    padding-top: 0;
  }
}

.jeans-sizes .jeans-lycra {
  background: #fff;
}

.jeans-sizes .jeans-lycra .disc-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.jeans-sizes .jeans-lycra h5 {
  margin-bottom: 0;
}

@media (min-width: 320px) and (max-width: 576px) {
  .jeans-sizes .jeans-lycra h5 {
    font-size: 13px;
  }
}

.jeans-sizes .jeans-lycra p {
  margin-bottom: 0;
}

@media (min-width: 320px) and (max-width: 576px) {
  .jeans-sizes .jeans-lycra p {
    font-size: 10px;
  }
}

.jeans-sizes .content-box {
  padding-top: 20px;
}

.jeans-sizes .content-box h2 {
  color: #3B4FBD;
}

@media (min-width: 320px) and (max-width: 576px) {
  .jeans-sizes .content-box h2 {
    font-size: 18px;
  }
}

.jeans-sizes .content-box p {
  color: #52525f;
  line-height: 1.7;
}

@media (min-width: 320px) and (max-width: 576px) {
  .jeans-sizes .content-box p {
    font-size: 12px;
  }
}

.jeans-sizes .age-box h3 {
  color: #52525f;
}

@media (min-width: 320px) and (max-width: 576px) {
  .jeans-sizes .age-box h3 {
    font-size: 16px;
  }
}

.jeans-sizes .age-box .ages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jeans-sizes .age-box .ages-list li {
  width: 70px;
  margin-left: 20px;
  text-align: center;
  display: inline-block;
}

@media (min-width: 576px) and (max-width: 767px) {
  .jeans-sizes .age-box .ages-list li {
    margin-left: 0;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .jeans-sizes .age-box .ages-list li {
    width: 40px;
    margin-left: 0;
  }
}

.jeans-sizes .age-box .ages-list li .number {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #52525f;
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 34px;
  margin: 7px auto;
  font-weight: bold;
  cursor: pointer;
}

.jeans-sizes .age-box .ages-list li .number:hover {
  background-color: #FDAF29;
  color: #fff;
}

@media (min-width: 320px) and (max-width: 576px) {
  .jeans-sizes .age-box .ages-list li .number {
    font-size: 12px;
    width: 25px;
    height: 25px;
    line-height: 16px;
  }
}

.jeans-sizes .age-box .ages-list li .year {
  color: #52525f;
}

@media (min-width: 320px) and (max-width: 576px) {
  .jeans-sizes .age-box .ages-list li .year {
    font-size: 11px;
  }
}

.jeans-sizes .age-box .box-model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 320px) and (max-width: 576px) {
  .jeans-sizes .age-box .box-model {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.jeans-sizes .age-box .box-model .shirt {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  background: #fff;
  margin-left: 50px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .jeans-sizes .age-box .box-model .shirt {
    margin-left: 15px;
  }
}

.jeans-sizes .age-box .box-model .shirt img {
  padding: 10px;
}

.jeans-sizes .age-box .box-model .shirt span {
  font-size: 13px;
  background: #f8f8f8;
  width: 100%;
  padding: 10px 5px;
  color: #52525f;
}

@media (min-width: 320px) and (max-width: 576px) {
  .jeans-sizes .age-box .box-model .shirt span {
    font-size: 10px;
  }
}

.jeans-sizes .long {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 320px) and (max-width: 576px) {
  .jeans-sizes .long {
    position: relative;
    top: -50px;
  }
}

.jeans-sizes .long .one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  font-size: 14px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .jeans-sizes .long .one {
    font-size: 10px;
    margin-left: 0;
  }
}

.jeans-sizes .long .one .divnum-2 {
  margin: 0 20px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .jeans-sizes .long .one .divnum-2 {
    margin: 0 5px;
  }
}

.jeans-sizes .long .one .divnum-3 {
  padding-right: 20px;
  border-right: 1px solid #E6E6E6;
}

@media (min-width: 320px) and (max-width: 576px) {
  .jeans-sizes .long .one .divnum-3 {
    padding-right: 10px;
    margin-right: 5px;
  }
}

.jeans-sizes .select-colors {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border: 1px solid #FDAF29;
  padding: 30px 25px;
  margin-top: 40px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .jeans-sizes .select-colors {
    margin-top: 20px;
    padding: 30px 10px;
  }
}

.jeans-sizes .select-colors h5 {
  margin-bottom: 20px;
  color: #52525f;
}

@media (min-width: 320px) and (max-width: 576px) {
  .jeans-sizes .select-colors h5 {
    font-size: 16px;
  }
}

.jeans-sizes .select-colors ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jeans-sizes .select-colors ul li {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  width: 33px;
  height: 33px;
  margin-right: 30px;
  cursor: pointer;
}

.jeans-sizes .select-colors ul li:nth-child(1) {
  background-color: #6E43FF;
}

.jeans-sizes .select-colors ul li:nth-child(2) {
  background-color: #BD3B3B;
}

.jeans-sizes .select-colors ul li:nth-child(3) {
  background-color: #F8C900;
}

.jeans-sizes .select-colors ul li:nth-child(4) {
  background-color: #7F9600;
}

.jeans-sizes .select-colors ul li:nth-child(5) {
  background-color: #3D3952;
}

@media (min-width: 320px) and (max-width: 576px) {
  .jeans-sizes .select-colors ul li {
    margin-right: 15px;
  }
}

.related-products {
  position: relative;
  padding-top: 30px;
  padding-bottom: 70px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .related-products {
    padding-top: 10px;
  }
}

.related-products::before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  height: 1px;
  width: 50%;
  background-color: #E6E6E6;
}

.related-products .heading-product {
  color: #52525f;
  margin-bottom: 30px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .related-products .heading-product {
    margin-bottom: 10px;
    font-size: 18px;
  }
}

.related-products .slick-list {
  padding: unset !important;
}

.related-products .slick-slide {
  padding: 10px;
}

.related-products .slick-slide .img-container {
  display: inline-block;
  background: #fff;
  padding: 5px;
  border-radius: 10px;
}

.related-products .slick-slide .img-container img {
  margin: auto;
  width: 100%;
}

.related-products .details {
  padding: 5px;
}

.related-products .details .details-box {
  padding: 5px 0;
  color: #52525f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.related-products .details .details-box span {
  color: #52525f;
  font-size: 12px;
}

.related-products .details .details-box span.old {
  text-decoration: line-through;
}

.related-products .details .details-box span.new {
  color: #FDAF29;
}

.ask-addcart {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 40;
}

@media (min-width: 320px) and (max-width: 576px) {
  .ask-addcart {
    font-size: 12px;
  }
}

.ask-addcart .share {
  border: none;
  outline: none;
}

.ask-addcart .one {
  background-color: #E6E6E6;
  width: 40%;
  height: 100%;
}

.ask-addcart .one i {
  display: block;
  color: #fff;
  margin: 5px auto;
  background: #4caf50;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  line-height: 22px;
}

.ask-addcart .one span {
  color: #52525f;
}

.ask-addcart .two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  height: 100%;
  background-color: #2A2A3B;
}

.ask-addcart .two span {
  color: #fff;
  font-weight: bold;
}
/*# sourceMappingURL=sizes.css.map */