
// start logo and person profile
.person-profile {
  padding: 10px 0;
  @media #{$xsmobile} {
    padding: 20px 0 0px;
  }
  .content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .main-information {
      display: flex;
      align-items: center;
      .link {
        img {
          height: 50px;
          @media #{$xsmobile} {
            height: 30px;
          }
        }
      }
      .select-box {
        @extend %selectbox;
        margin: 0 10px;
        @media #{$xsmobile} {
          margin: 0 5px;
          font-size: 14px;
        }
      }
      .person-name {
        color: $textcolor;
        @media #{$xsmobile} {
          font-size: 12px;
        }
      }
    }
    .cart-shop {
      @include prefixer(box-shadow, 0 3px 6px rgba($black,.3) , webkit moz o);
      position: relative;
      background: $maincolor;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      color: $white;
      cursor: pointer;
      @media #{$xsmobile} {
        width: 30px;
        height: 30px;
      }
      i {
        @include prefixer(transform, translatex(-50%) , webkit moz o);
        position: absolute;
        top: 50%;
        left: 50%;
        @media #{$xsmobile} {
          font-size: 12px;
        }
      }
      span {
        @include prefixer(transform, translatex(-50%) , webkit moz o);
        position: absolute;
        display: inline-block;
        left: 50%;
        top: 17%;
        font-size: 12px;
        @media #{$xsmobile} {
          top: 0%;
        }
      }
    }
  }
}
// end logo and person profile

// start products slider photos
.product-slider {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
  .slider-photos {
    background-color: $white;
    height: 260px !important;
    width: 100% !important;
    @media #{$xsmobile} {
      height: 240px !important;
      width: 70% !important;
    }
    .slick-list {
      height: 260px !important;
      @media #{$xsmobile} {
        height: 240px !important;
      }
      .slick-track{
        height: 260px !important;
        @media #{$xsmobile} {
          height: 240px !important;
        }
      }
    }
    .slick-slide {
      height: 260px !important;
      @media #{$xsmobile} {
        height: 240px !important;
      }
      .img-container {
        height: 260px !important;
        @media #{$xsmobile} {
          height: 240px !important;
        }
        padding:10px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }    
    .slick-dots {
      li{
        button {
          &::before {
            content: '' !important;
          }
        }
      }
      li:nth-child(1) {
        button {
          background: $slidercolor1 !important;
        }
      }
      li:nth-child(2) {
        button {
          background-color: $slidercolor2 !important;
        }
      }
      li:nth-child(3) {
        button {
          background-color: $slidercolor3 !important;
        }
      }
      li:nth-child(4) {
        button {
          background-color: $slidercolor4 !important;
        }
      }
      li:nth-child(5) {
        button {
          background-color: $slidercolor5 !important;
        }
      }
    }
  }
  .discription-box {
    height: 260px;
    font-size: 13px;
    @media #{$xsmobile} {
      height: 240px;
      width: 30% !important;
      padding: 0 8px !important;
    }
    .price {
      color: $textcolor;
      width: 135px;
      padding: 5px;
      margin: auto;
      @media #{$xsmobile} {
        width: auto;
        padding: 5px;
        margin: 0px auto;
        font-size: 12px;
      }
      &.old-price {
        position: relative;
        opacity: .7;
        &::before {
          position: absolute;
          content: '';
          top: 50%;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $textcolor;
        }
      }
      &.new-price {
        background-color: $white;
      }
    }
    .disc {
      color: $textcolor;
      padding: 8px;
      text-align: left;
      @media #{$xsmobile} {
        padding: 5px;
        font-size: 11px;
        text-align: left !important;
      }
    }
    hr {
      margin: auto;
    }
    .one {
      padding-top: 6px;
      margin-left: 10px;
      width: 135px;
      margin: auto;
      text-align: left;
      @media #{$xsmobile} {
        padding-top: 7px;
        margin-left: auto;
        width: auto;
        margin: auto;
        font-size: 10px;
      }
      h6 {
        color: $an-color;
        margin-bottom: 3px;
        font-size: 13px;
        @media #{$xsmobile} {
          margin-bottom: auto;
          font-size: 11px;
        }
      }
      span {
        color: $textcolor;
        font-size: 10px;
        // @media #{$xsmobile} {
        //   font-size: 10px;
        // }
      }
    }
  }
}
// end products slider photos

// start jeans sizes and ages section 
.jeans-sizes {
  padding-top: 30px;
  padding-bottom: 30px;
  @media #{$xsmobile} {
    padding-top: 0;
  }
  .jeans-lycra {
    background: #fff;
    .disc-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
    }
    h5 {
      margin-bottom: 0;
      @media #{$xsmobile} {
        font-size: 13px;
      }
    }
    p {
      margin-bottom: 0;
      @media #{$xsmobile} {
        font-size: 10px;
      }
    }
  }
  .content-box {
    padding-top: 20px;
    h2 {
      color: $an-color;
      @media #{$xsmobile} {
        font-size: 18px;
      }
    }
    p {
      color: $textcolor;
      line-height: 1.7;
      @media #{$xsmobile} {
        font-size: 12px;
      }
    }
  }
  .age-box {
    h3 {
      color: $textcolor;
      @media #{$xsmobile} {
        font-size: 16px;
      }
    }
    .ages-list {
      display: flex;
      li {
        width: 70px;
        margin-left: 20px;
        text-align: center;
        display: inline-block;
        @media #{$tablets} {
          margin-left: 0;
        }
        @media #{$xsmobile} {
          width: 40px;
          margin-left: 0;
        }
        &.active {
          .number {
            background-color: $maincolor;
            color: $white;
          }
          .year {
            color: $maincolor;
          }
        }
        .number {
          @include prefixer(box-shadow, 0 3px 6px rgba($black, .2) , webkit moz o);
          @include prefixer(transition, .5s , webkit moz o);
          color: $textcolor;
          background-color: $white;
          padding: 5px;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          line-height: 34px;
          margin: 7px auto;
          font-weight: bold;
          cursor: pointer;
          &:hover {
            background-color: $maincolor;
            color: $white;
          }
          @media #{$xsmobile} {
            font-size: 12px;
            width: 25px;
            height: 25px;
            line-height: 16px;
          }
        }
        .year {
          color: $textcolor;
          @media #{$xsmobile} {
            font-size: 11px;
          }
        }
      }
    }
    .box-model {
      display: flex;
      @media #{$xsmobile} {
        justify-content: space-between;
      }
      .shirt {
        @include prefixer(box-shadow, 0 3px 6px rgba($black, .2) , webkit moz o);
        text-align: center;
        background: #fff;
        margin-left: 50px;
        @media #{$xsmobile} {
          margin-left: 15px;
        }
        img {
          padding: 10px;
        }
        span {
          font-size: 13px;
          background: #f8f8f8;
          width: 100%;
          padding: 10px 5px;
          color: $textcolor;
          @media #{$xsmobile} {
            font-size: 10px;
          }
        }
      }
    }
  }
  .long {
    display: flex;
    @media #{$xsmobile} {
      position: relative;
      top: -50px;
    }
    .one {
      display: flex;
      align-items: center;
      margin-left: 30px;
      font-size: 14px;
      @media #{$xsmobile} {
        font-size: 10px;
        margin-left: 0;
      }
      .divnum-2 {
        margin: 0 20px;
        @media #{$xsmobile} {
          margin: 0 5px;
        }
      }
      .divnum-3 {
        padding-right: 20px;
        border-right: 1px solid $bgcolor2;
        @media #{$xsmobile} {
          padding-right: 10px;
          margin-right: 5px;
        }
      }
    }
  }
  // selct colors
  .select-colors {
    @include prefixer(box-shadow, 0 3px 6px rgba($black, .2) , webkit moz o);
    background-color: $white;
    border: 1px solid $maincolor;
    padding: 30px 25px;
    margin-top: 40px;
    @media #{$xsmobile} {
      margin-top: 20px;
      padding: 30px 10px;
    }
    h5 {
      margin-bottom: 20px;
      color: $textcolor;
      @media #{$xsmobile} {
        font-size: 16px;
      }
    }
    ul {
      display: flex;
      li {
        @include prefixer(box-shadow, 0 3px 6px rgba($black, .2) , webkit moz o);
        width: 33px;
        height: 33px;
        margin-right: 30px;
        cursor: pointer;
        &:nth-child(1) {
          background-color: $slidercolor1;
        }
        &:nth-child(2) {
          background-color: $slidercolor2;
        }
        &:nth-child(3) {
          background-color: $slidercolor3;
        }
        &:nth-child(4) {
          background-color: $slidercolor4;
        }
        &:nth-child(5) {
          background-color: $slidercolor5;
        }
        @media #{$xsmobile} {
          margin-right: 15px;
        }
      }
    }
  }
  // selct colors
  .color-data,
  .age-data,
  .size-data {
    display: none;
  }
}
// end jeans sizes and ages section


// start related products 
.related-products {
  position: relative;
  padding-top: 30px;
  padding-bottom: 70px;
  @media #{$xsmobile} {
    padding-top: 10px;
  }
  &::before {
    @include prefixer(transform, translateX(-50%) , webkit moz o);
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    height: 1px;
    width: 50%;
    background-color: $bgcolor2;
  }
  .heading-product {
    color: $textcolor;
    margin-bottom: 30px;
    @media #{$xsmobile} {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }
  .slick-list {
    padding: unset !important;
  }
  .slick-slide {
    padding: 10px;
    .img-container {
      display: inline-block;
      background: $white;
      padding: 5px;

      border-radius: 10px;
      img {
        margin: auto;
        width: 100%;
      }
    }
  }
  .details {
    padding: 5px;
    .details-box {
      padding: 5px 0;
      color: $textcolor;
      display: flex;
      justify-content: space-between;
      span {
        color: $textcolor;
        font-size: 11px;
        &.old {
          text-decoration: line-through;
        }
        &.new {
          color: $maincolor;
        }
      }
    }
  }
}
// end related products 

// start ask adn add to cart
.ask-addcart {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  display: flex;
  z-index: 40;
  @media #{$xsmobile} {
    font-size: 12px;
  }
  .share {
    @include prefixer(transition, .3s ease-in-out, webkit moz o);
    border: none;
    outline: none;
    &:hover {
      background-color: $maincolor;
      span {
        color: $white;
      }
      i {
        background-color: $white;
        color: $maincolor;
      }
    }
  }
  .one {
    background-color: $bgcolor2;
    width: 40%;
    height: 100%;
    i {
      @include prefixer(transition, .3s ease-in-out, webkit moz o);
      display: block;
      color: $white;
      margin: 5px auto;
      background-color: $bgcontact;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      line-height: 22px;
    }
    span {
      @include prefixer(transition, .3s ease-in-out, webkit moz o);
      color: $textcolor;
    }
  }
  .two {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    background-color: $bgcolor;
    span {
      color: $white;
      font-weight: bold;
    }
  }
}
// start ask adn add to cart